*{
    padding:0;
    margin:0;
    font-family: sans-serif;
}

.header{
    background-color: royalblue;
    height:80px;
    padding-left: 10px;
}

.header a{
    text-decoration: none;
    color:whitesmoke;
}
.nav
{
    background-color: darkblue;
}

.nav ul{
    text-align: right;
    list-style: none;
}

.nav li{    
    display: inline;
}

.nav a{
    color:whitesmoke;
    text-decoration: none;
}

.banner{
    background-color: gray;
    width:13%;
    position:absolute;
    right:0%;
    padding-top:20px;
    padding-left:20px;
    height:250px;
}

.body{
    width:85%;
}

.background{
    background-color: rgb(95, 94, 94);
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.first
{
    position: relative;
    width:45%;
}

.second{
    position:absolute;
    width:45%;
    right: 17%
}

.third{
    width:45%;
}

.fourth
{
    position:absolute;
    width:45%;
    right: 17%
}

.foreground{
    margin-top: 10px;
    padding-top:10px;
    padding-left:10px;
    padding-bottom:30px;
    padding-right:10px;
    background-color: whitesmoke;
}

.footer
{
    text-align: center;
    background-color:cornflowerblue;
    color:whitesmoke;
    padding-top: 10px;
    padding-bottom:10px;
}