*{
    padding:0;
    margin:0;
    font-family: sans-serif;
}

.body{
    width:80%;
    margin-right: auto;
    margin-left: auto;
}

.header{
    background-color: royalblue;
    height: 100px;
    padding-left: 10px;
}

.header a{
    text-decoration: none;
    color: whitesmoke;
}

.nav{
    margin-top: 10px;
    background-color: darkblue;
}

.nav ul{
    text-align: right;
}

.nav li{
    display:inline;
}

.nav a{
    text-decoration: none;
    color:whitesmoke;
}

.banner{
    background-color: gray;
    position:absolute;
    right:10%;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 50px;
    height: 250px
}

.background{
    background-color:rgb(78, 77, 77);
    width:80%;
    padding-top:20px;
    padding-right:20px;
    padding-left: 20px;
    padding-bottom: 20px;
}
.foreground{
    background-color: whitesmoke;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.foreground h1{
    padding-top:10px;
}

.foreground h2{
    padding-top:10px;
}

.foreground p{
    padding-top:20px;
}

.second{
    position:absolute;
    right:25%;
    width:32%;
}

.fourth{
    position:absolute;
    right:25%;
    width:32%;
}

.first{
    position: relative;
    width:50%;
}

.third{
    position: relative;
    width:50%;
}

.footer{
    background-color: rgb(141, 175, 238);
    color:whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}